.containButton {
      display: flex;
      justify-content: center;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
}

.containButton button {
      position: relative;
      z-index: 3;
      border-radius: 30px;
      background-color:white;
      background-position: center;
      background-size: cover;
      font-family: pokeSolid;
      width: 15rem;
      padding: 5px 10px 10px 10px;
      color: var(--yellow);
      letter-spacing: 4px;
      color: var(--yellow);
      text-shadow: 2px 2px 0 var(--blue), 2px -2px 0 var(--blue), -2px 2px 0 var(--blue), -2px -2px 0 var(--blue), 2px 0px 0 var(--blue), 0px 2px 0 var(--blue), -2px 0px 0 var(--blue), 0px -2px 0 var(--blue);
      transition: transform, width, 1s;
}

.containButton button:hover {
      width: 22rem;
      box-shadow: 0px 0px 10px -2px white;
      cursor: pointer;
      transition: transform, width, 1s;
}

.containButton img {
      position: absolute;
      height: 45px;
      width: 45px;
      right: -15px;
      bottom: -5px;
      animation: gire linear 1s;
}